### Node.js ###
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnp/
**/.pnp.js

### Temporary files ###
**/tmp/
**/temp/
**/out-tsc/

### IDEs ###
.vscode/
.idea/

### OS ###
.DS_Store
Thumbs.db
